.venv/

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/

.pytest_cache/
.coverage
.coverage.*
htmlcov/

.pyright/
.mypy_cache/

.ruff_cache/

.env
.env.*
!.env.example

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea/

.DS_Store
Thumbs.db